.show-movie {
  background:#DDD;
  color:#222;
  padding:2px;
  border:1px solid #AAA;
  transition: 1s;
  animation: show-movie .5s ease-out;
  width: 20rem;
}
@keyframes show-movie{
0%{
  opacity: 0;
}100%{
  opacity: 1;
}
}
.show-movie:hover {
  background:white;
  color:black;
  padding:8px 14px;
  border:1px solid #888;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  cursor: pointer;
}
/* .show-movie */
/* @keyframes showMovie{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    margin: 50px;
  }
} */
/* .show-movie:hover{
  background-color: green;
} */